@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700&display=swap");
.add-pattern {
  background-image: url("../../images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 2em;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
